.dart_tool/
.packages
pubspec.lock
*.iml
*.ipr
*.iws
.idea/
.vscode/
.DS_Store
Thumbs.db
build/
.android-sdk/
.android/
.npm/*
.pub-cache/
.dartServer/
zip/
packages/neural_bridge/test/fixtures/beir
packages/neural_bridge/test/fixtures/longmemeval
